[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment momentum.pngmomentum.png7.1 KB
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=8ddefeb1f1&view=att&th=14d4b115f5f6972e&attid=0.1&disp=safe&zw
Icon=text-html
